body {
    direction: rtl;
    padding: 0;
    background-color: aquamarine;
}

div.container {
    width: fit-content;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

div.contact-data {
    position: absolute;
    top: -7px;
    right: 0;
    margin: 20px;
}

form {
    margin-right: 30px;
    margin-left: 40px;
}

h4 {
    font-size: 15px;
    margin: 0;
    color: blue;
}

form textarea {
    width: 100%;
    height: 75px;
}

form button {
    margin-top: 10px;
    border-radius: 3px 10px 3px 3px;
    padding: 2px 4px;
    background-image: linear-gradient(rgb(104, 138, 202), rgb(62, 80, 185));
    color: white;
    direction: ltr;
}

form button:hover {
    background-image: linear-gradient(rgb(208, 204, 164), rgb(199, 193, 21));
    color: black;
}

form>div {
    display: flex;
}
form>div:last-child{
    flex-direction: column;
    align-items: flex-end;
}

form>div>section:first-child {
    width: 50%;
}

form>div>section>label {
    margin: 13px 0px;
    display: block;
}

form>div>section>input {
    margin: 7px 0;
    display: block;
}