body {
    direction: rtl;
    padding: 0;
    background-color: aquamarine;
}

* {
    box-sizing: border-box;
}

div.container {
    width: fit-content;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

div.contact-data {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 25px;
}

form {
    margin-right: 30px;
    margin-left: 50px;
}

h4 {
    font-size: 15px;
    color: blue;
}

form textarea {
    width: 100%;
}

form button {
    border-radius: 3px 10px 3px 3px;
    padding: 7px;
    position: relative;
    background-image: linear-gradient(rgb(104, 138, 202), rgb(62, 80, 185));
    left: 5px;
    color: white;
}

form button:hover {
    background-image: linear-gradient(rgb(208, 204, 164), rgb(199, 193, 21));
    color: black;
}

form>div {
    display: flex;
}

form>div>section:first-child {
    width: 40%;
}

form>div>section>label {
    margin: 13px 0px;
    display: block;
}

form>div>section>input {
    margin: 7px 0;
    display: block;
}