:root {
    --blue: #005ca0;
    --black: #6d6d6d;
    color: var(--black);
    font-family: Arial, Helvetica, sans-serif;
}

* {
    box-sizing: border-box;
}

body {
    direction: rtl;
    margin: 0;
}

.flex-container {
    display: flex;
    justify-content: center;
}

.menu-sperator {
    width: 1px;
    background-color: #f1F1F1;
    height: 100%;
}

.sub-menu-seperator {
    width: 100%;
    height: 1px;
    background-color: #f1F1F1;
}

header {
    height: 105px;
    background: linear-gradient(0deg, rgba(166, 166, 166, 1) 0%, rgba(170, 170, 170, 1) 2%, rgba(144, 144, 144, 1) 10%, rgba(146, 146, 146, 1) 100%);
    margin-bottom: 20px;
}

header>div {
    width: 900px;
    margin: auto;
    position: relative;
}

header>div>aside {
    width: fit-content;
    padding-top: 20px;
    display: flex;
}

header>div>aside>div {
    position: absolute;
    left: 0px;
    direction: ltr;
    display: flex;
    align-items: center;
}

header>div>aside>div>form>input {
    background: url(images/search_input.png) no-repeat;
    direction: rtl;
    border: none;
    width: 130px;
    margin-right: 10px;
    position: relative;
    bottom: 5px;
    padding: 2px;
    left: -4px;
}

/* logo */

header>div>img {
    position: absolute;
    bottom: -20px;
}

header a {
    color: white;
    font-weight: bold;
    text-decoration: none;
    position: relative;
}

header a:hover {
    color: var(--blue);
    text-decoration: underline var(--blue);
}

nav {
    margin-top: 50px;
    font-size: 15px;
}

nav>ul {
    width: 915px;
    list-style: none;
    display: flex;
    padding-right: 130px;
}

nav>ul>li {
    padding-bottom: 18px;
    position: relative;
}

nav>ul>li:nth-child(odd) {
    flex-grow: 1;
    text-align: center;
}

nav>ul>li>img {
    position: relative;
    top: 2px;
}

nav>ul>li>div.sub-menu {
    background-color: #909090;
    position: absolute;
    top: 35px;
    visibility: hidden;
    z-index: 10;
    box-shadow: -8px 7px 26px -8px rgba(0, 0, 0, 0.65);
}

nav>ul>li:hover>div.sub-menu {
    visibility: visible;
}

nav>ul>li>div.sub-menu>a {
    display: block;
    text-align: right;
    padding: 5px;
}

nav>ul>li>div.sub-menu>a:first-child {
    background: linear-gradient(0deg, rgba(142, 144, 145, 1) 0%, rgba(171, 171, 171, 1) 100%);
}

nav>ul>li>div.sub-menu>a:hover {
    background: #bcbcbc
}

/* main */

main>article:first-child a>div.nextImage {
    background-image: url(images/read_more_white.png);
}

main>article a:hover>div.nextImage {
    background-image: url(images/read_more_blue.png);
}

main a>div.nextImage {
    background-image: url(images/read_more_yellow.png);
}

main a>div.nextImage {
    width: 9px;
    height: 9px;
    display: inline-block;
    position: relative;
    right: 4px;
    top: 2px;
}

main>article>section {
    margin: 7px;
}

main>article>section>div {
    position: relative;
}

main>article>section>div a:hover {
    color: var(--blue);
}

main>article:nth-child(2) a:hover>img {
    content: url(images/read_more_blue.png) no-repeat;
}

main>article:nth-child(2) a>img {
    padding-right: 4px;
    background-image: url(images/read_more_yellow.png) no-repeat;
}

main>article>section>div>span {
    position: absolute;
    background-color: rgba(133, 131, 131, 0.7);
    border-radius: 0 0 20px 0;
    color: white;
    bottom: 10px;
    right: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    width: 87%;
    display: flex;
    flex-direction: column;
    line-height: 1;
}

main>article>section>div>span>p {
    margin: 6px;
    margin-top: 4px;
}

main>article>section>div>span>h3 {
    margin-right: 6px;
    margin-top: 4px;
    margin-bottom: 0px;
    padding: 0;
    width: fit-content;
}

main>article>section>div>span>a {
    width: fit-content;
    position: relative;
    right: 72%;
    bottom: 7px;
    color: white;
}

main>article>section:nth-child(2)>div>span {
    width: 80%;
}

main>article:first-child>section>div>img:first-child {
    border-radius: 0 0 20px 0;
}

main>article:nth-child(2)>section a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

main>article:nth-child(2)>section>div {
    position: relative;
}

main>article:nth-child(2)>section>div>h3 {
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    top: 0;
    right: 25px;
}

main>article:nth-child(2)>section>div>a {
    position: absolute;
    bottom: 25px;
    left: 25px;
}

main>article:nth-child(2)>section>div>ul {
    position: absolute;
    list-style-type: none;
    padding: 25px;
    top: 10px;
}

main>article:nth-child(2)>section>div>ul>li {
    margin: 5px;
}

main>article:nth-child(2)>section>div>img.map {
    position: absolute;
    left: 20px;
    top: 40px;
}

main>article:nth-child(2)>section>div>img.advertisement {
    position: absolute;
    right: 20px;
    top: 50px;
}

/* footer */

footer {
    position: fixed;
    background: linear-gradient(0deg, rgba(144, 144, 144, 1) 66%, rgba(171, 171, 171, 1) 100%);
    bottom: 0;
    width: 100%;
    height: 35px;
}

footer>div {
    width: 900px;
    margin: auto;
}

footer>div>ul {
    margin-top: 4px;
    padding: 0;
    display: flex;
    list-style: none;
    justify-content: right;
    align-items: center;
    color: white;
}

footer>div>ul li {
    padding: 4px;
}

footer>div>ul li:first-child {
    margin-top: 4px;
}

footer>div>ul a {
    text-decoration: none;
    color: white;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

footer>div>ul a:hover {
    text-decoration: underline;
    color: var(--blue);
}

footer>div>ul li:last-child>a {
    color: red;
}

footer>div>ul li:last-child>a:hover {
    color: var(--blue);
}