body {
    direction: rtl;
}

main, footer, header {
    border: 1px solid red;
}

body {
    margin: 0;
}

* {
    box-sizing: border-box;
}

nav.flex-container>img:first-child {
    border: red 1px solid;
}


nav>section {
    position: relative;
}

header nav>section>a+span {
    position: absolute;
    z-index: 10;
    display: flex;
    flex-direction: column;
    top: 30px;
    width: max-content;
    visibility: hidden;
}

nav>section>a:hover+span {
    visibility: visible;
}

nav>section>span>a {
    background-color: #909090;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    display: inline;
}

nav>section>span>a:hover {
    background-color: #bcbcbc;
}

nav>section>span>a:first-child {
    background-image: url("images/menu_dropdown_bg.png");
}

nav>section>span>a:first-child:hover {
    background-image: none;
}

header {
    height: 110px;
    background-image: url("images/header_bg.png");
    background-repeat: repeat-x;
    border: teal 2px solid;
    margin-bottom: 50px;
}

header>div>aside {
    margin-top: 20px;
    width: fit-content;
    display: flex;
}

header>div {
    width: 900px;
    margin: auto;
    position: relative;
}

header nav.flex-container {
    margin-top: 55px;
    margin-right: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header aside>div {
    position: absolute;
    left: 0px;
    direction: ltr;
    display: flex;
}

aside>div {
    align-items: center;
}

header>div>img {
    position: absolute;
    right: -20px;
    bottom: -30px;
}

form>input {
    background: url(images/search_input.png) no-repeat;
    direction: rtl;
    border: none;
    width: 130px;
    margin-right: 10px;
    position: relative;
    bottom: 5px;
    padding: 2px;
    left: -4px;
}

header a {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    position: relative;
}

header a:hover {
    color: #0150DA;
    text-decoration: underline 0150DA;
}

main>article>section {
    margin: 7px;
}

main>article>section>div {
    position: relative;
}

main>article>section>div>span {
    position: absolute;
    background-color: rgba(133, 131, 131, 0.8);
    border-radius: 0 0 20px 0;
    color: white;
    bottom: 10px;
    right: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    width: 87%;
    display: flex;
    flex-direction: column;
    line-height: 1;
}

main>article:first-child>section>div>img+img {
    position: absolute;
    left: 0;
}

.pos-absolute {
    position: absolute;
    right: 0;
    top: 0;
}

main>article>section:nth-child(2)>div>span {
    width: 80%;
}

main>article>section>div>span>p {
    margin: 6px;
    margin-top: 4px;
}

main>article>section>div>span>h3 {
    margin-right: 6px;
    margin-top: 4px;
    margin-bottom: 0px;
    padding: 0;
    width: fit-content;
}

main>article>section>div>span>a {
    width: fit-content;
    position: relative;
    right: 75%;
    bottom: 5px;
}

main>article>section>div>span>a {
    color: white;
}

main>article>section>div a:hover {
    color: #0150DA;
}

main>article:nth-child(2) {
    border: 1px solid cornflowerblue;
}

main>article:nth-child(2)>section>div {
    position: relative;
}

main>article:nth-child(2)>section>div>h3 {
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    top: 0;
    right: 25px;
}

main>article:nth-child(2)>section>div>a {
    position: absolute;
    bottom: 25px;
    left: 25px;
}

main>article:nth-child(2)>section a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

main>article:nth-child(2)>section>div>img.advertisement {
    position: absolute;
    right: 20px;
    top: 50px;
}

main>article:nth-child(2)>section>div>ul {
    position: absolute;
    list-style-type: none;
    padding: 25px;
    top: 10px;
}

main>article:nth-child(2)>section>div>ul>li {
    margin: 5px;
}

main>article:nth-child(2)>section>div>img.map {
    position: absolute;
    left: 20px;
    top: 40px;
}

footer {
    position: absolute;
    height: 50px;
    bottom: 0;
    width: 100%;
}

footer>div {
    width: 50px;
    background-color: tomato;
    margin: auto;
}

.flex-container {
    display: flex;
    justify-content: center;
}